<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/admin/']">Administration</a></li>
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>
<h2>Manage users</h2>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tr *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
      <td><span class="badge">{{user.id}}</span></td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>
        <a (click)="$event.preventDefault(); block(user);" href>block</a> |
        <a [routerLink]="['./', user.id]">edit</a>
      </td>
    </tr>
  </table>
</div>
