<ol class="breadcrumb">
  <li class="breadcrumb-item active" aria-current="page">Administration</li>
</ol>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">User administration</h4>
        <p class="card-text">Manage users and permissions</p>
        <a routerLink="./users" routerLinkActive="active" class="btn btn-primary">User administration</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Product administration</h4>
        <p class="card-text">Manage products, add new products</p>
        <a routerLink="./products" routerLinkActive="active" class="btn btn-primary">Product administration</a>
      </div>
    </div>
  </div>
</div>
